<section>
    <md-content layout-padding>
        <md-subheader class="md-primary">Zelim da unesem zavrsen posao</md-subheader>

        <span layout="column">
        <md-input-container>
            <label>Uradjeno je</label>
            <md-select ng-model="vm.job.jobType">
                <md-option ng-repeat="jobType in vm.jobTypes" ng-value="jobType.id">
                    {{jobType.name}}
                </md-option>
            </md-select>
        </md-input-container>

        <md-input-container>
            <label>Od masina sam koristio</label>
            <md-select ng-model="vm.job.machines" multiple>
                <md-optgroup label="Sa pogonom">
                    <md-option ng-value="machine.id" ng-repeat="machine in vm.availableMachines">{{machine.make}} {{machine.model}}</md-option>
                </md-optgroup>
            </md-select>
        </md-input-container>

        <md-input-container>
            <label>Na poljani</label>
            <md-select ng-model="vm.job.farmland">
                <md-option ng-repeat="farmland in vm.availableFarmlands" ng-value="farmland.id">
                    {{farmland.name}}
                </md-option>
            </md-select>
        </md-input-container>


        <md-input-container>
            <label>Moja zapazanja su</label>
            <textarea type="text" ng-model="vm.job.description"></textarea>
        </md-input-container>

        <md-input-container>
          <label>Na datum</label>
        <md-datepicker ng-model="vm.job.startDate"
                       md-open-on-focus="true"
        ></md-datepicker>
        </md-input-container>

        <div layout layout-align="end center">
            <md-button ng-click="vm.cancelSubmit()">Odustani</md-button>
            <md-button class="md-raised md-primary" ng-click="vm.submit()">Sacuvaj</md-button>
        </div>
    </span>
    </md-content>

</section>