<section>
    <md-content layout-padding>
        <md-subheader class="md-primary">Nabavio sam novu masinu</md-subheader>
        <form name="vm.machineForm" novalidate>
        <span layout="column">
        <md-input-container>
            <label>Proizveo je</label>
            <input type="text" ng-model="vm.machine.make" required name="make">
            <div ng-messages="vm.machineForm.make.$error">
                <div ng-message="required">Moras uneti proizvodjaca</div>
            </div>
        </md-input-container>

        <md-input-container>
            <label>Model se zove</label>
            <input type="text" ng-model="vm.machine.model" required name="model">
            <div ng-messages="vm.machineForm.model.$error">
                <div ng-message="required">Moras uneti model</div>
            </div>

        </md-input-container>

        <md-input-container>
            <label>Njen serijski broj</label>
            <input type="text" ng-model="vm.machine.vin" required name="vin">
            <div ng-messages="vm.machineForm.vin.$error">
                <div ng-message="required">Moras uneti serijski broj</div>
            </div>
        </md-input-container>

        <md-input-container>
            <label>Njen registracijski broj</label>
            <input type="text" ng-model="vm.machine.plates">
        </md-input-container>

        <md-input-container>
          <label>Proizvedena je</label>
        <md-datepicker ng-model="vm.machine.manufactured"
                       md-open-on-focus="true"
        ></md-datepicker>
        </md-input-container>

        <md-input-container>
            <label>Radnih sati ima</label>
            <input type="number" ng-model="vm.machine.workHours">
        </md-input-container>

        <div layout layout-align="end center">
            <md-button ng-click="vm.cancelSubmit()">Odustani</md-button>
            <md-button class="md-raised md-primary" ng-click="vm.submitMachine()">Sacuvaj</md-button>
        </div>
        </span>
        </form>
    </md-content>

</section>